@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
}

body{
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(to right, black, rgb(5, 5, 5), rgb(9, 9, 9));
}

header{
    background-image: linear-gradient(to right, white, rgb(248, 248, 248), rgb(244, 244, 244));
    padding-bottom: 10px;
    padding-top: 10px;
}

input#pesqbar{
    color: black;
    position: relative;
    right: 60px;
    text-align: center;
    bottom: 30px;
    border-radius: 3px;

}


img#logo{
    width: 70px;
    height: 70px;
    position: relative;
    
}

span#burger{
    color: black;
    cursor: pointer;
    position: relative;
    left:  40px;
    font-size: 70px;
}


menu#itens{
    color: black;
}